<template>
  <header>
    <div class="container">
      <HeaderLogoDesc :logoLink="LogoURL" v-if="isDesktop" />
      <HeaderLogoTablet :logoLink="LogoURL" v-if="isTablet" />
      <HeaderLogoTablet :logoLink="LogoURL" v-if="isMobile" />
    </div>
  </header>
</template>

<script>
  import HeaderLogoDesc from './HeaderLogoDesc.vue'
  import HeaderLogoTablet from './HeaderLogoTablet.vue'
  export default {
    components: {
      HeaderLogoDesc,
      HeaderLogoTablet
    },
    data() {
      return {
        LogoURL: require('../../assets/img/logo.svg'),
        isDesktop: this.common.isDesktop(window.innerWidth),
        isTablet: this.common.isTablet(window.innerWidth),
        isMobile: this.common.isMobile(window.innerWidth),
      }
    },
    methods: {
      handleResize() {
        this.isDesktop = this.common.isDesktop(window.innerWidth);
        this.isTablet = this.common.isTablet(window.innerWidth);
        this.isMobile = this.common.isMobile(window.innerWidth);
      }
    },
    created() {
      window.addEventListener('resize', this.handleResize);
    },
    beforeDestroy() {
      window.removeEventListener('resize', this.handleResize)
    },
    mounted() {}
  }
</script>


<style lang="scss" scoped>
  header {
    padding-top: 30px;
    @media screen and (max-width: 960px) {
      padding-top: 20px;
    }
  }
</style>
