<template>
  <div class="logo-box img-box">
    <img :src="logoLink" alt="">
  </div>
</template>

<script>
  export default {
    props: {
      logoLink: String
    }
  }
</script>

<style lang="scss" scoped>
  .logo-box {
    width: 14%;
    min-width: 80px;
    margin-top: 25px;
    margin-left: 0px;
  }
</style>
