<template>
  <footer>
    <div class="container">
      <FooterLogoDesc :logoLink="$t('footerContent').logoURL" v-if="isDesktop" />
      <FooterLogoTablet :logoLink="$t('footerContent').logoURL" v-if="isTablet" />
      <FooterLogoTablet :logoLink="$t('footerContent').logoURL" v-if="isMobile" />
  
      <div class="footer-box">
        <div class="left-box">
          <FooterContactsDesc v-if="isDesktop" :contacts="$t('footerContent').contacts" />
          <FooterContactsTablet v-else :contacts="$t('footerContent').contacts" />
        </div>
        <div class="right-box">
          <FooterMap/>
        </div>
      </div>
    </div>
    <FooterBottomPanelDesc :adress="$t('footerContent').adress" :socialNetworks="$t('footerContent').socialNetworks" :sertificatsText="$t('footerContent').sertificatsText" :sertificatsLink="$t('footerContent').sertificatsLink" />
  </footer>
</template>

<script>
  import FooterLogoDesc from './FooterLogoDesc.vue'
  import FooterLogoTablet from './FooterLogoTablet.vue'
  import FooterContactsDesc from './FooterContactsDesc.vue'
  import FooterContactsTablet from './FooterContactsTablet.vue'
  import FooterMap from './FooterMap.vue'
  import FooterBottomPanelDesc from './FooterBottomPanelDesc.vue'
  export default {
    components: {
      FooterLogoDesc,
      FooterLogoTablet,
      FooterContactsDesc,
      FooterContactsTablet,
      FooterMap,
      FooterBottomPanelDesc
    },
    data() {
      return {
        locales: ['pl', 'en'],
        isDesktop: this.common.isDesktop(window.innerWidth),
        isTablet: this.common.isTablet(window.innerWidth),
        isMobile: this.common.isMobile(window.innerWidth),
      }
    },
    methods: {
      handleResize() {
        this.isDesktop = this.common.isDesktop(window.innerWidth);
        this.isTablet = this.common.isTablet(window.innerWidth);
        this.isMobile = this.common.isMobile(window.innerWidth);
      }
    },
    created() {
      window.addEventListener('resize', this.handleResize);
    },
    beforeDestroy() {
      window.removeEventListener('resize', this.handleResize)
    },
  }
</script>

<style lang="scss" scoped>
  footer {
    position: relative;
    width: 100%;
    bottom: 0;
    margin-top: 22vw;
    background-color: #E6EEFD;
    @media screen and (max-width: 960px) {
      background-image: url("../../assets/img/footer-bg-tablet.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 0 0%;
      background-color: transparent;
      &:before {
        display: none;
      }
    }
    &:before {
      content: "";
      background-image: url("../../assets/img/footer-bg.svg");
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: 0 0%;
      width: 100%;
      height: 22vw;
      position: absolute;
      margin-top: -22vw;
      z-index: -1;
    }
  }
  
  .footer-box {
    margin: 40px 0 0;
    display: flex;
    .left-box {
      width: 49%;
      position: relative;
    }
    .right-box {
      width: 50%;
      height: 100%;
    }
    @media screen and (max-width: 960px) {
      .left-box,
      .right-box {
        width: 50%;
      }
    }
    @media screen and (max-width: 600px) {
      flex-direction: column;
      .left-box,
      .right-box {
        width: 100%;
      }
      .left-box {
        padding-bottom: 40px;
      }
    }
  }
</style>

