<template>
  <div class="map-block">
    <GmapMap :center="{lat:52.395687, lng:16.919313}" :zoom="18" :controls="false" style="width: 100%; height: 100%">
      <GmapMarker :position="{lat:52.395687, lng:16.919313}" :clickable="true" :draggable="true" />
    </GmapMap>
  </div>
</template>

<style lang="scss" scoped>
  .map-block {
    width: 100%;
    height: 250px;
    box-shadow: 0 6px 10px #abbffd;
    border-radius: 40px;
    overflow: hidden;
    @media screen and (max-width: 960px) {
      height: 250px;
    }
  }
</style>


<script>
  export default {}
</script>
