<template>
  <ul>
    <li class="contact-item" v-for="contact in contacts" :key="contact.id">
      <div class="img-box">
        <img :src="contact.iconURL" alt="">
      </div>
      <p v-html="contact.text"></p>
    </li>
  </ul>
</template>

<script>
  export default {
    props: {
      contacts: Array
    }
  }
</script>


<style lang="scss" scoped>
  li {
    display: flex;
    align-items: center;
    list-style: none;
    margin-bottom: 40px;
  }
  
  .img-box {
    width: 7%;
    margin-right: 45px;
  }
  
  p {
    font-size: 22px;
    color: $blue;
  }
</style>
