<template>
  <div class="bottom-block">
    <div class="container">
      <div class="bottom-panel">
        <div class="box">
          <p v-html="adress"></p>
          <a :href="sertificatsLink" target="_blank" v-text="sertificatsText"></a>
        </div>
        <div class="box">
          <button v-on:click="toTop">
          </button>
        </div>
        <div class="box">
          <a v-for="social in socialNetworks" target="_blank" :key="social.id" :href="social.link" class="img-box">
            <img :src="social.imgURL" :alt="social.alt">
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import $ from 'jquery';
  export default {
    props: {
      adress: String,
      socialNetworks: Array,
      sertificatsText: String,
      sertificatsLink: String
    },
    methods: {
      toTop() {
        $('html, body').animate({
          scrollTop: 0
        }, 2000);
      }
    }
  }
</script>

<style lang="scss" scoped>
  .bottom-block {
    margin-top: 60px;
    border-top: 2px solid #fff;
    background-color: #E6EEFD;
  }
  
  .bottom-panel {
    padding: 10px 0 20px;
    line-height: 1.4;
    display: flex;
    justify-content: space-between;
    .box {
      width: 33%;
      &:last-child {
        display: flex;
        justify-content: flex-end;
      }
    }
    @media screen and (max-width: 600px) {
      flex-wrap: wrap;
      justify-content: center;
      .box:first-child {
        width: 80%;
      }
      .box:nth-child(2) {
        width: 20%;
      }
      .box:last-child {
        margin-top: 30px;
        width: 100%;
        display: flex;
        justify-content: center;
        ;
      }
    }
  }
  
  a {
    color: $blue;
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 1px solid $blue;
    outline: none;
  }
  
  a.img-box {
    position: relative;
    display: inline-block;
    width: 60px;
    border-bottom: none;
    margin-left: 15px;
  }
  
  p {
    color: $blue;
  }
  
  button {
    cursor: pointer;
    display: block;
    width: 60px;
    height: 60px;
    background-image: url("../../assets/img/totopbtn.svg");
    background-size: cover;
    margin: 0 auto;
    background-color: transparent;
    border: none;
    outline: none;
    @media screen and (max-width: 600px) {
      margin: 0 0 0 auto;
    }
  }
</style>
