<template>
  <div class="logo-box img-box">
    <img :src="logoLink" alt="">
  </div>
</template>

<script>
  export default {
    props: {
      logoLink: String
    }
  }
</script>

<style lang="scss" scoped>
  .logo-box {
    width: 35%;
    max-width: 150px;
    padding-top: 80px;
  }
</style>
