<template>
  <div class="logo-box img-box">
    <img :src="logoLink" alt="">
  </div>
</template>

<script>
  export default {
    props: {
      logoLink: String
    }
  }
</script>

<style lang="scss" scoped>
  .logo-box {
    width: 12%;
    min-width: 100px;
    padding-top: 30px;
  }
</style>
