<template>
  <section class="advantages-block">
    <div class="container">
      <h4>Zalety firmy</h4>
      <div class="advantages-box-tablet">
        <advantages-item v-for="a in advantages" :key="a.id" :iconURL="a.iconURL" :text="a.text" :color="a.color" />
      </div>
    </div>
  </section>
</template>

<script>
  import AdvantagesItem from '../shared/AdvantagesItem.vue';
  export default {
    props: {
      advantages: Array
    },
    components: {
      AdvantagesItem
    }
  }
</script>


<style lang="scss" scoped>
  .advantages-block {
    margin-top: 98vw;
  }
  
  h4 {
    @include titlesStyle;
    font-size: 40px;
    padding-left: 25px;
  }
  
  .advantages-box-tablet {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
</style>
