<template>
  <section class="contacts-block">
    <div class="container">
      <form>
        <div class="left-box">
          <label>
                  <input type="text" placeholder="Firma" v-model="company.out" @focus="company.valid = true" :class="{validation: !company.valid}">
                  <span class="error-message" v-show="!company.valid" v-text="company.validText"></span>
              </label>
          <label>
                <input type="text" placeholder="NIP" v-model="NIP.out" @focus="NIP.valid = true"  :class="{validation: !NIP.valid}">
                <span class="error-message" v-show="!NIP.valid" v-text="NIP.validText"></span>
              </label>
          <label>
                <input type="tel" id="phone" placeholder="Telefon" v-model="phone.out" @focus="phone.valid = true"  :class="{validation: !phone.valid}">
                <span class="error-message" v-show="!phone.valid" v-text="phone.validText"></span>
              </label>
          <label>
                <input type="text" placeholder="E-mail" v-model="email.out" @focus="email.valid = true"  :class="{validation: !email.valid}">
                <span class="error-message" v-show="!email.valid" v-text="email.validText"></span>
              </label>
        </div>
        <div class="right-box">
          <textarea placeholder="Treść wiadomości" v-model="message.out" @focus="message.valid = true" :class="{validation: !message.valid}"></textarea>
          <span class="error-message" v-show="!message.valid" v-text="message.validText"></span>
          <button v-on:click="sendFormData">wysłać</button>
        </div>
  
      </form>
    </div>
  </section>
</template>

<script>
import homeAPI from '../../../api/home.js';
import Inputmask from "inputmask";
  export default {
    data() {
      return {
        company: {
          out: "",
          type: 'text',
          valid: true,
          validText: "*Поле обязательно для наполнения"
        },
        NIP: {
          out: "",
          type: 'number',
          valid: true,
          validText: "*Поле обязательно для наполнения"
        },
        phone: {
          out: "",
          type: 'phone',
          valid: true,
          validText: "*Поле обязательно для наполнения"
        },
        email: {
          out: "",
          type: 'email',
          valid: true,
          validText: "*Поле обязательно для наполнения"
        },
        message: {
          out: "",
          type: 'text',
          valid: true,
          validText: "*Поле обязательно для наполнения"
        }
      }
    },
    methods: {
      sendFormData: function(e) {
        e.preventDefault();
        this.company = this.homeValidation(this.company);
        this.NIP = this.homeValidation(this.NIP);
        this.phone = this.homeValidation(this.phone);
        this.email = this.homeValidation(this.email);
        this.message = this.homeValidation(this.message);
        if (this.company.valid &&
          this.NIP.valid &&
          this.phone.valid &&
          this.email.valid &&
          this.message.valid
        ) {
          let sendObj = {
            company: this.company.out,
            NIP: this.NIP.out,
            phone: this.phone.out,
            email: this.email.out,
            message: this.message.out
          };
          homeAPI.sendForm(sendObj);
          this.company.out = "";
          this.NIP.out = "";
          this.phone.out = "";
          this.email.out = "";
          this.message.out = "";
        }
      }
    },
    mounted() {
      var im = new Inputmask("+99-(99)-999-9999");
      im.mask(document.getElementById("phone"));
    }
  }
</script>


<style lang="scss" scoped>
  form {
    display: flex;
    justify-content: space-between;
    input,
    textarea {
      width: 100%;
      background: #fff;
      border: 1px solid $_blue;
      padding: 15px 30px;
      margin-bottom: 30px;
      border-radius: 25px;
      outline: none;
      transition: box-shadow, border-color .5s ease;
      resize: none;
      color: $_blue;
      &:focus {
        box-shadow: 0 4px 8px #e5ebf1;
        border-color: #e5ebf1;
      }
      &.validation {
        color: $_red;
        border: 1px solid $_red;
        &::placeholder {
          color: $_red;
        }
      }
      &::placeholder {
        color: #c2d8fd;
      }
    }
    span.error-message {
      margin: -25px 0 10px;
      display: block;
      padding: 0 0 0 20px;
      color: $_red;
    }
    button {
      background: $_blue;
      font-size: 20px;
      font-weight: bold;
      border: none;
      border-radius: 30px;
      padding: 10px 30px;
      color: #fff;
      outline: none;
      cursor: pointer;
    }
    textarea {
      height: calc(100% - 20px);
    }
    .left-box {
      display: flex;
      flex-direction: column;
      width: 40%;
    }
    .right-box {
      width: 58%;
    }
    @media screen and (max-width: 600px) {
      flex-direction: column;
      .left-box,
      .right-box {
        width: 100%;
      }
      .right-box {
        flex-direction: column;
        display: flex;
        button {
          width: 30%;
          min-width: 150px;
          margin: 0 auto;
        }
      }
      textarea {
        height: 300px;
      }
    }
  }
</style>
