<template>
  <div>
    <!-- <TopLeftBg/> -->
    <MenuButtons/>
    <MainInfo :title="content.tabletTitle" :desc="content.mobileDesc" />
    <Services :services="content.services" />
    <DiagramBlock :informationTitle="content.informationTitle" :informationList="content.informationListMobile" />
    <Advantages :advantages="content.advantagesMobile" />
    <Review :title="content.reviewTitle" :imgLink="content.reviewImg" :reviews="content.reviews" />
  
    <Form/>
  </div>
</template>


<script>
  // DESKTOP COMPONENTS
  import TopLeftBg from './TopLeftBg.vue'
  import MenuButtons from './MenuButtons.vue'
  import MainInfo from './MainInfo.vue'
  import Services from './Services.vue'
  import DiagramBlock from './DiagramBlock.vue'
  import Advantages from './Advantages.vue'
  import Review from './Review.vue'
  import Form from './Form.vue'
  export default {
    components: {
      TopLeftBg,
      MenuButtons,
      MainInfo,
      Services,
      DiagramBlock,
      Advantages,
      Review,
      Form
    },
    props: {
      content: Object
    }
  }
</script>
