<template>
  <section class="main-block">
    <div class="container">
      <div class="main-info">
        <h2 v-html="title"></h2>
        <p class="desc" v-html="desc"></p>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    props: {
      title: String,
      desc: String
    }
  }
</script>


<style lang="scss" scoped>
   .main-block {
     min-height: 390px;
   }
   
   .main-info {
     padding-top: 40px;
     width: 100%;
     h2 {
       font-size: 46px;
       color: $blue;
     }
     p.desc {
       padding-top: 20px;
       font-size: 22px;
       color: $lightblue;
     }
   }
</style>


