<template>
  <div class="menu-btns" :class="{toggle: toggle}">
    <div class="menu-btn" :class="{toggle: toggle}" v-on:click="toggleMenu">+</div>
    <button @click="toForm">
          zamówienie
        </button>
    <button @click="toContacts">
          Kontakty
        </button>
  </div>
</template>

<script>
  import $ from 'jquery';
  export default {
    data() {
      return {
        toggle: false
      }
    },
    methods: {
      toggleMenu() {
        this.toggle = !this.toggle;
      },
      toForm() {
        let top = $(".contacts-block").offset().top;
        $('body,html').animate({
          scrollTop: top
        }, 1500);
      },
      toContacts() {
        let top = $("footer").offset().top;
        $('body,html').animate({
          scrollTop: top
        }, 1500);
      }
    }
  }
</script>


<style lang="scss" scoped>
  .menu-btn {
    position: absolute;
    z-index: 999;
    top: 20px;
    right: 30px;
    width: 50px;
    height: 50px;
    font-size: 40px;
    color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../../assets/img/menu-btn.svg');
    transition: all .4s ease;
    &.toggle {
      background: none;
      color: $blue;
      transform: rotate(45deg);
      padding-left: 14px;
      margin-top: 4px;
      top: 7px;
    }
  }
  
  .menu-btns {
    display: flex;
    position: absolute;
    flex-direction: column-reverse;
    right: 0px;
    top: 0px;
    padding: 60px 50px 30px;
    background: none;
    box-shadow: 0 0px 0px #c3d0fd;
    border-radius: 25px 0 25px 25px;
    transition: all .4s ease;
    &.toggle {
      box-shadow: 0 4px 8px #c3d0fd;
      background: #fff;
      button {
        opacity: 1;
        pointer-events: auto;
      }
    }
    button {
      font-weight: bold;
      border-radius: 100px;
      border: none;
      color: #fff;
      width: 130px;
      font-size: 14px;
      padding: 10px 8px;
      margin-bottom: 30px;
      text-align: center;
      text-transform: uppercase;
      outline: none;
      opacity: 0;
      pointer-events: none;
      &:nth-of-type(1) {
        background-color: #8ce7de;
      }
      &:nth-of-type(2) {
        background-color: #8cb3fe;
      }
    }
  }
</style>
