<template>
  <section class="review-block-mobile">
    <div class="container">
      <div class="review-box">
        <div class="title-box">
          <div class="img-box">
            <img :src="imgLink" :alt="title">
          </div>
          <h4 v-html="title"></h4>
        </div>
        <div class="slider">
          <review-item v-for="review in reviews" :key="review.key" :infoText="review.infoText" :companyName="review.companyName" :companyLogo="review.companyLogo" />
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import ReviewItem from '../shared/ReviewItem.vue'
  import $ from 'jquery';
  export default {
    props: {
      title: String,
      imgLink: String,
      reviews: Array
    },
    components: {
      ReviewItem
    },
    mounted() {
      $(".slider").slick({
        infinite: true,
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: false,
        dots: true
      });
    }
  }
</script>

<style lang="scss" scoped>
  .review-block-mobile {
    margin: 80px 0;
    background-image: url('../../../assets/img/review-bg-tablet.svg');
    background-repeat: no-repeat;
    background-size: cover;
    .container {
      position: relative;
    }
  }
  
  .title-box {
    display: flex;
    align-items: center;
    padding-top: 18vw;
    .img-box {
      width: 7%;
      min-width: 50px;
      ;
      margin-right: 20px;
    }
    h4 {
      @include titlesStyle;
      color: #fff;
    }
  }
  
  .slider {
    margin-top: 40px;
  }
</style>

<style lang="scss">
  .review-block-mobile {
    .slick-slide {
      margin: 0 2vw;
    }
    .slick-dots {
      position: absolute;
      display: flex;
      justify-content: center;
      margin: 20px auto;
      width: 100%;
      li {
        list-style: none;
        border: 1px solid $_blue;
        border-radius: 10px;
        padding: 2px;
        margin: 0 15px;
        button {
          outline: none;
          border-radius: 50px;
          color: transparent;
          background: $_blue;
          display: block;
          width: 10px;
          height: 10px;
          border: none;
          opacity: .2;
          transition: opacity .4s ease;
        }
      }
      li.slick-active {
        button {
          opacity: 1;
        }
      }
    }
  }
</style>
