<template>
  <section class="services-block">
    <div class="services-box" v-for="service in services" :key="service.id">
      <ServiceItem :imgLink="service.imgLink" :subText="service.subText" />
    </div>
  </section>
</template>

<script>
  import ServiceItem from '../shared/ServiceItem.vue'
  export default {
    props: {
      services: Array
    },
    components: {
      ServiceItem
    },
    mounted() {}
  }
</script>

<style lang="scss" scoped>
  .services-block {
    margin-top: 40px;
  }
  
  .services-box {
    display: flex;
    justify-content: flex-start;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    margin: 0 auto 42px;
    background-image: url('../../../assets/img/top-line-mobile.svg');
    background-position: center calc(100%);
    &:nth-child(2) {
      background-image: url('../../../assets/img/middle-line-mobile.svg');
      background-position: center;
      .service-item {
        flex-direction: row-reverse;
      }
    }
    &:nth-child(3) {
      background-position: center calc(100%);
      background-image: url('../../../assets/img/bottom-line-mobile.svg');
    }
  }
</style>
