<template>
  <div class="top-left-bg">
  </div>
</template>

<style>
  .top-left-bg {
    position: absolute;
    top: 0;
    left: -50%;
    background-image: url('../../../assets/img/top-left-bg.svg');
    background-size: cover;
    width: 110vw;
    max-width: 450px;
    min-height: 150px;
    height: 18.3vw;
    z-index: -1;
  }
</style>
