<template>
  <section class="diagram-block">
    <DiagramIll/>
    <div class="container">
      <div class="content-box">
        <div class="information-box">
          <h4 v-html="informationTitle"></h4>
          <ul>
            <li v-for="info in informationList" :key="info.id" v-html="info.text">
  
            </li>
          </ul>
        </div>
      </div>
    </div>
  
  </section>
</template>

<script>
  import DiagramIll from './DiagramIll.vue'
  export default {
    props: {
      informationTitle: String,
      informationList: Array
    },
    components: {
      DiagramIll
    }
  }
</script>

<style lang="scss" scoped>
  .diagram-block {
    margin-top: -80px;
    @media screen and (max-width: 600px) {
      margin-top: 0;
    }
  }
  
  .content-box {
    display: flex;
    justify-content: flex-end;
    .information-box {
      width: 45%;
      margin-top: 21vw;
      h4 {
        @include titlesStyle;
      }
      ul {
        margin-top: 60px;
        li {
          $percent: 100%;
          position: relative;
          padding-bottom: 40px;
          font-size: 26px;
          line-height: 30px;
          color: $blue;
          list-style: none;
          padding-left: 60px;
          &:before {
            content: "";
            position: absolute;
            width: 30px;
            height: 30px;
            background: $grey;
            left: 0;
            border-radius: 15px;
          }
          &:after {
            content: "";
            position: absolute;
            width: 15px;
            height: 15px;
            border: 2px solid #fff;
            left: 12px;
            top: 17px;
            border-radius: 15px;
          }
          &:nth-child(3n+1) {
            &:after {
              background: $_blue;
            }
          }
          &:nth-child(3n+2) {
            &:after {
              background: $_green;
            }
          }
          &:nth-child(3n+3) {
            &:after {
              background: $_red;
            }
          }
        }
      }
    }
  }
</style>

