<template>
  <section class="main-block">
    <div class="container">
      <div class="main-info">
        <h2 v-html="title"></h2>
        <p class="desc" v-html="desc"></p>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    props: {
      title: String,
      desc: String
    }
  }
</script>


<style lang="scss" scoped>
  .main-block {
    height: 100vh;
    min-height: 600px;
  }
  
  .main-info {
    padding-top: 14.5vw;
    width: 55%;
    h2 {
      font-size: 54px;
      color: $blue;
    }
    p.desc {
      padding-top: 20px;
      font-size: 32px;
      line-height: 36px;
      color: $lightblue;
    }
    @media screen and (max-width: 1360px) {
      padding-top: 18.5vw;
      padding-left: 80px;
      width: 75%;
    }
    @media screen and (max-width: 1200px) {
      padding-top: 18.5vw;
      padding-left: 120px;
      width: 80%;
      h2 {
        font-size: 38px;
      }
      p.desc {
        font-size: 24px;
      }
    }
  }
</style>


