<template>
  <div class="menu-btns">
    <button @click="toForm">
        zamówienie
      </button>
    <button @click="toContacts">
        Kontakty
      </button>
  </div>
</template>

<script>
  import $ from 'jquery';
  export default {
    methods: {
      toForm() {
        let top = $(".contacts-block").offset().top;
        $('body,html').animate({
          scrollTop: top
        }, 1500);
  
      },
      toContacts() {
        let top = $("footer").offset().top;
        $('body,html').animate({
          scrollTop: top
        }, 1500);
      }
    }
  }
</script>


<style lang="scss" scoped>
  .menu-btns {
    display: flex;
    position: absolute;
    flex-direction: row-reverse;
    transform: rotate(-90deg);
    left: -130px;
    top: 34vw;
    @media screen and (max-width: 1360px) {
      top: 39vw;
    }
    @media screen and (max-width: 1200px) {
      left: -155px;
    }
    button {
      font-weight: bold;
      border-radius: 100px;
      border: none;
      color: #fff;
      width: 180px;
      font-size: 22px;
      margin-left: 20px;
      padding: 18px 20px;
      text-align: center;
      text-transform: uppercase;
      outline: none;
      cursor: pointer;
      &:first-child {
        background-color: #8cb3fe;
      }
      &:last-child {
        background-color: #8ce7de;
      }
    }
  }
</style>
