<template>
  <section class="review-block">
    <div class="container">
      <div class="review-box">
        <div class="title-box">
          <div class="img-box">
            <img :src="imgLink" :alt="title">
          </div>
          <h4 v-html="title"></h4>
        </div>
        <div class="slider">
          <review-item v-for="review in reviews" :key="review.key" :index="review.key" :infoText="review.infoText" :companyName="review.companyName" :companyLogo="review.companyLogo" />
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import ReviewItem from '../shared/ReviewItem.vue';
  import $ from 'jquery';
  export default {
    props: {
      title: String,
      imgLink: String,
      reviews: Array
    },
    components: {
      ReviewItem
    },
    mounted() {
      $(".slider").slick({
        infinite: true,
        slidesToShow: 3,
        slidesToScroll: 1,
        arrows: false
      });
    }
  }
</script>

<style lang="scss" scoped>
  .review-block {
    position: relative;
    z-index: 2;
    margin-top: 80px;
    min-height: 800px;
    height: 61.8vw;
    background-image: url('../../../assets/img/review-bg.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    // background-size: 115vw;
    .container {
      position: relative;
    }
  }
  
  .title-box {
    display: flex;
    align-items: center;
    padding-top: 7vw;
    .img-box {
      width: 7%;
      margin-right: 20px;
    }
    h4 {
      @include titlesStyle;
      color: #fff;
    }
  }
  
  .slider {
    margin-top: 40px;
  }
</style>

<style lang="scss">
  .review-block {
    $right: 0;
    .slick-slide {
      margin: 0 1vw;
    }
    .slick-arrow {
      position: absolute;
      top: -4.5vw;
      right: $right;
      color: transparent;
      background-color: transparent;
      border: none;
      outline: none;
      background-repeat: no-repeat;
      vertical-align: middle;
      cursor: pointer;
      z-index: 999;
    }
    .slick-prev {
      right: $right+120px;
      background-image: url('../../../assets/img/arrow-prev.svg');
    }
    .slick-next {
      background-image: url('../../../assets/img/arrow-next.svg');
      width: 5em;
    }
    @media screen and (max-width: 1100px) {
      $tablet_right: 20px;
      .slick-arrow {
        right: $tablet_right;
      }
      .slick-prev {
        right: $tablet_right+80px;
      }
    }
  }
</style>
