<template>
  <section class="services-block">
    <div class="container">
      <div class="services-box">
        <ServiceItem v-for="service in services" :key="service.id" :imgLink="service.imgLink" :subText="service.subText" />
      </div>
    </div>
  </section>
</template>

<script>
  import ServiceItem from '../shared/ServiceItem.vue'
  export default {
    props: {
      services: Array
    },
    components: {
      ServiceItem
    }
  }
</script>

<style lang="scss" scoped>
  .services-block {
    margin-top: 100px;
    background-image: url('../../../assets/img/services-line.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center calc(22% - .8vw);
    @media screen and (min-width: 1600px) {
      background-position: center calc(22% - 2.4vw);
    }
    @media screen and (max-width: 1100px) {
      background-position: center calc(26%);
    }
  }
  
  .services-box {
    display: flex;
    justify-content: space-around;
  }
</style>
