<template>
  <div class="top-left-bg">
  </div>
</template>

<style>
  .top-left-bg {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../../../assets/img/top-left-bg.svg');
    background-size: cover;
    width: 35.8vw;
    height: 21.4vw;
    z-index: -1;
    background-repeat: no-repeat;
  }
</style>
