<template>
  <div class="top-right-bg">
  </div>
</template>

<style>
  .top-right-bg {
    position: absolute;
    top: 0;
    right: 0%;
    background-image: url('../../../assets/img/top-right-bg.svg');
    background-size: cover;
    width: 57.3vw;
    height: 51.3vw;
    z-index: -1;
  }
</style>
