<template>
  <section class="diagram-block">
    <div class="container">
      <div class="content-box">
        <div class="information-box">
          <h4 v-html="informationTitle"></h4>
          <ul>
            <li v-for="info in informationList" :key="info.id" v-html="info.text">
            </li>
          </ul>
        </div>
      </div>
    </div>
    <DiagramIll/>
  </section>
</template>

<script>
  import DiagramIll from './DiagramIll.vue'
  export default {
    props: {
      informationTitle: String,
      informationList: Array
    },
    components: {
      DiagramIll
    }
  }
</script>

<style lang="scss" scoped>
  .diagram-block {}
  
  .content-box {
    display: flex;
    justify-content: center;
    .information-box {
      width: 100%;
      margin-top: 60px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      h4 {
        @include titlesStyle;
      }
      ul {
        margin-top: 40px;
        margin-left: -90px;
        li {
          position: relative;
          padding-bottom: 30px;
          font-size: calc(16px + .1vw);
          color: $blue;
          list-style: none;
          padding-left: 60px;
          &:before {
            content: "";
            position: absolute;
            height: calc(23px + .1vw);
            width: calc(23px + .1vw);
            background: $grey;
            left: 0;
            border-radius: 100px;
          }
          &:after {
            content: "";
            position: absolute;
            height: calc(10px + .1vw);
            width: calc(10px + .2vw);
            border: 2px solid #fff;
            left: 12px;
            top: 10px;
            border-radius: 100px;
          }
          &:nth-child(3n+1) {
            &:after {
              background: $_blue;
            }
          }
          &:nth-child(3n+2) {
            &:after {
              background: $_green;
            }
          }
          &:nth-child(3n+3) {
            &:after {
              background: $_red;
            }
          }
        }
      }
    }
  }
</style>

