<template>
  <section class="review-block-tablet">
    <div class="container">
      <div class="review-box">
        <div class="title-box">
          <div class="img-box">
            <img :src="imgLink" :alt="title">
          </div>
          <h4 v-html="title"></h4>
        </div>
        <div class="slider">
          <review-item v-for="review in reviews" :key="review.key" :infoText="review.infoText" :companyName="review.companyName" :companyLogo="review.companyLogo" />
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import ReviewItem from '../shared/ReviewItem.vue'
  import $ from 'jquery';
  export default {
    props: {
      title: String,
      imgLink: String,
      reviews: Array
    },
    components: {
      ReviewItem
    },
    mounted() {
      $(".slider").slick({
        infinite: true,
        slidesToShow: 2,
        slidesToScroll: 1,
        arrows: false
      });
    }
  }
</script>

<style lang="scss" scoped>
  .review-block-tablet {
    pointer-events: none;
    margin-top: 80px;
    height: 100vw;
    background-image: url('../../../assets/img/review-bg-tablet.svg');
    background-repeat: no-repeat;
    background-size: cover;
    .container {
      position: relative;
    }
  }
  
  .title-box {
    display: flex;
    align-items: center;
    padding-top: 5vw;
    .img-box {
      width: 12%;
      margin-right: 20px;
    }
    h4 {
      @include titlesStyle;
      color: #fff;
      font-size: 40px;
    }
  }
  
  .slider {
    margin-top: 40px;
    // margin-left: -20px;
    @media screen and (max-width: 700px) {
      // margin-left: -5px;
    }
  }
</style>

<style lang="scss">
  .review-block-tablet {
    .slick-slide {
      margin: 0 10px;
    }
    .slick-arrow {
      position: absolute;
      top: -90px;
      right: 20px;
      color: transparent;
      background-color: transparent;
      border: none;
      outline: none;
      background-repeat: no-repeat;
      vertical-align: middle;
      cursor: pointer;
      z-index: 111;
    }
    .slick-prev {
      right: 120px;
      background-image: url('../../../assets/img/arrow-prev.svg');
    }
    .slick-next {
      background-image: url('../../../assets/img/arrow-next.svg');
      width: 5em;
    }
  }
</style>
