<template>
  <section class="services-block">
    <div class="services-box-top">
      <ServiceItem v-for="service in topServices" :key="service.id" :imgLink="service.imgLink" :subText="service.subText" />
    </div>
  
    <div class="services-box-bottom">
      <ServiceItem v-for="service in bottomServices" :key="service.id" :imgLink="service.imgLink" :subText="service.subText" />
    </div>
  
  </section>
</template>

<script>
  import ServiceItem from '../shared/ServiceItem.vue'
  export default {
    props: {
      services: Array
    },
    data() {
      return {
        topServices: [],
        bottomServices: []
      }
    },
    components: {
      ServiceItem
    },
    mounted() {
      this.topServices.push(this.services[0]);
      this.topServices.push(this.services[1]);
      this.bottomServices.push(this.services[2]);
    }
  }
</script>

<style lang="scss" scoped>
  .services-block {
    margin-top: 0px;
  }
  
  .services-box-top,
  .services-box-bottom {
    display: flex;
    justify-content: space-around;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  
  .services-box-top {
    background-image: url('../../../assets/img/top-line.svg');
    background-position: center calc(28% - .8vw);
    margin-bottom: 40px;
  }
  
  .services-box-bottom {
    background-image: url('../../../assets/img/bottom-line.svg');
    background-position: center calc(10% - .8vw);
  }
</style>
