<template>
  <div class="top-left-bg-tablet">
  </div>
</template>

<style>
  .top-left-bg-tablet {
    position: absolute;
    top: 0;
    left: 0%;
    background-image: url('../../../assets/img/tablet-left-bg.svg');
    background-size: cover;
    width: 39vw;
    min-width: 250px;
    min-height: 180px;
    height: 28vw;
    z-index: -1;
  }
</style>
