<template>
  <div class="top-right-bg-tablet">
  </div>
</template>

<style>
  .top-right-bg-tablet {
    position: absolute;
    top: 0;
    right: 0%;
    background-image: url('../../../assets/img/top-right-bg-tablet.svg');
    background-size: cover;
    width: 52vw;
    height: 59vw;
    z-index: -1;
  }
</style>
