

<template>
  <main>
    <home-desktop v-if="isDesktop" :content="$t('content')" />
    <home-tablet v-else-if="isTablet" :content="$t('content')" />
    <home-mobile v-else-if="isMobile" :content="$t('content')" />
  </main>
</template>

<script>
  import HomeDesktop from './desktop/Home.vue'
  import HomeTablet from './tablet/Home.vue'
  import HomeMobile from './mobile/Home.vue'
  export default {
    components: {
      HomeDesktop,
      HomeTablet,
      HomeMobile
    },
    data() {
      return {
        locales: ['pl', 'en'],
        isDesktop: this.common.isDesktop(window.innerWidth),
        isTablet: this.common.isTablet(window.innerWidth),
        isMobile: this.common.isMobile(window.innerWidth),
      }
    },
    methods: {
      handleResize() {
        this.isDesktop = this.common.isDesktop(window.innerWidth);
        this.isTablet = this.common.isTablet(window.innerWidth);
        this.isMobile = this.common.isMobile(window.innerWidth);
      },
  
    },
    created() {
      window.addEventListener('resize', this.handleResize);
    },
    beforeDestroy() {
      window.removeEventListener('resize', this.handleResize)
    },
  }
</script>

<style lang="scss" scoped>
  
</style>
