<template>
  <div id="app">
    <Header/>
    <HomePage/>
    <Footer/>
  </div>
</template>

<script>
  import Header from './components/_header/Header.vue'
  import HomePage from './components/home/HomePage.vue'
  import Footer from './components/_footer/Footer.vue'
  import $ from 'jquery';
  
  export default {
    name: 'app',
    components: {
      Header,
      HomePage,
      Footer
    },
    mounted() {
      if (window.addEventListener) window.addEventListener('DOMMouseScroll', wheel, false);
      window.onmousewheel = document.onmousewheel = wheel;
  
      function wheel(event) {
        var delta = 0;
        if (event.wheelDelta) delta = event.wheelDelta / 80;
        else if (event.detail) delta = -event.detail / 3;
  
        handle(delta);
        if (event.preventDefault) event.preventDefault();
        event.returnValue = false;
      }
  
      var goUp = true;
      var end = null;
      var interval = null;
  
      function handle(delta) {
        var animationInterval = 20; //lower is faster
        var scrollSpeed = 20; //lower is faster
  
        if (end == null) {
          end = $(window).scrollTop();
        }
        end -= 20 * delta;
        goUp = delta > 0;
  
        if (interval == null) {
          interval = setInterval(function() {
            var scrollTop = $(window).scrollTop();
            var step = Math.round((end - scrollTop) / scrollSpeed);
            if (scrollTop <= 0 ||
              scrollTop >= $(window).prop("scrollHeight") - $(window).height() ||
              goUp && step > -1 ||
              !goUp && step < 1) {
              clearInterval(interval);
              interval = null;
              end = null;
            }
            $(window).scrollTop(scrollTop + step);
          }, animationInterval);
        }
      }
    }
  }
</script>

<style lang="scss">
  @import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i');
  * {
    font-family: 'PT Sans', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    overflow-x: hidden;
  }

  
  .container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  .img-box {
    img {
      width: 100%;
    }
  }
</style>
