<template>
    <div class="advantages-item" :style="{backgroundColor: color}">
        <div class="img-box">
            <img :src="iconURL" alt="">
        </div>
        <p v-html="text"></p>
    </div>
</template>

<script>
    export default {
        props: {
            iconURL: String,
            text: String,
            color: String
        }
    }
</script>

<style lang="scss" scoped>
    .advantages-item {
        padding: 40px 30px;
        width: 32%;
        border-radius: 50px;
        margin-bottom: 20px;
        &:nth-child(3n+2) {
            margin: $advantages_top;
        }
        &:last-child {
            margin: $advantages_top;
        }
        .img-box {
            width: 20%;
        }
        p {
            padding-top: 20px;
            color: white;
            font-size: 22px;
        }
        @media screen and (max-width: 960px) {
            width: 48%;
            margin-bottom: 40px;
            .img-box {
              width: 15%;
              margin-bottom: 15px;
            }
            &:nth-child(3n+2) {
                margin: 0 0 20px 0;
            }
            &:nth-child(even) {
                margin: -140px auto 180px;
            }
            &:last-child {
                margin: -140px 0 180px auto;
            }
        }
        @media screen and (max-width: 600px) {
            width: 100%;
            
            &:nth-child(3n+2),
            &:nth-child(even),
            &:last-child {
                margin: 0 0 40px 0;
            }

        }
    }
</style>
