<template>
  <div class="review-item">
    <div class="text-box">
      <p v-html="infoText">
      </p>
    </div>
    <div class="bottom-box">    
    <div class="panel-line" :style="{backgroundColor: lineColor(index)}"></div>
    <div class="company-box">
      <p v-html="companyName">
      </p>
      <div class="review-logo">
        <img :src="companyLogo" :alt="companyName">
      </div>
    </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      index: Number,
      infoText: String,
      companyName: String,
      companyLogo: String
    },
    methods: {
      lineColor(index) {
        let color = (index%2 == 0)? "#6689ff" : "#f78469";
        return color;
      }
    }
  }
</script>


<style lang="scss" scoped>
  
  .review-item {
    background-color: #fff;
    margin: 0 0 20px 0;
    display: inline-block;
    border-radius: 35px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, .18);
    outline: none;
    min-height: 450px;
    position: relative;
    @media screen and (max-width: 700px) {
      margin: 0 0 20px;
      min-height: 500px
    }
    @media screen and (max-width: 650px) {
      min-height: 550px
    }
    @media screen and (max-width: 600px) {
      min-height: 350px
    }
    @media screen and (max-width: 450px) {
      min-height: 450px
    }
    @media screen and (max-width: 350px) {
      min-height: 570px
    }
    .text-box {
      padding: 30px 40px;
      p {
        font-style: italic;
        font-size: 16px;
        line-height: 1.6;
        font-weight: 400;
      }
    }
    .bottom-box {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 80px;
    }
    .panel-line {
      display: block;
      width: 100%;
      //background-color: $_red;
      height: 4px;
      z-index: 2;
      position: relative;
      &:before,
      &:after {
        content: "";
        height: 100%;
        width: 33%;
        display: block;
        margin: 0 0 0 0;
        background-color: $grey;
        z-index: 1;
        position: absolute;
      }
      &:after {
        right: 0;
      }
    }
    .company-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px 30px;
      p {
        font-weight: bold;
        color: $blue;
        font-size: 20px;
      }
    }

    .review-logo img {
      max-width: 100px;
    }
  }
</style>
