<template>
    <div class="service-item">
        <div class="img-box">
            <img :src="imgLink" :alt="subText">
        </div>
        <p v-text="subText"></p>
    </div>
</template>

<script>
    export default {
        props: {
            imgLink: String,
            subText: String,
            speed: Number
        }
    }
</script>

<style lang="scss" scoped>
    .service-item {
        
        width: 300px;
        &:nth-child(3n+2) {
                margin-top: 75px;
                position: relative;
            
            @media screen and (max-width: 960px) {
                margin-top: 0;
            }
        }
        .img-box {
            width: 164px;
            margin: 0 auto;
        }
        p {
         
            padding-top: 40px;
            font-size: 24px;
            line-height: 30px;
            color: $blue;
            text-align: center;
            padding-left: 10px;
        }
        @media screen and (max-width: 600px) {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            
            margin: 0 auto;
            .img-box {
                width: 45%;
            }
            
            p {
                width: 50%;
                font-size: 18px;
                line-height: 20px;
                padding-top: 10px;
                text-align: left;
            }
        }
    }
</style>
